//- module
doctype html
html
  block vars
    include @/@loadingio/bootstrap.ext/index.pug
  head
    block prehead
    +css("assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("assets/lib/ldiconfont/main/ldif.min.css")
    +css("https://fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto+Mono")
    +css("assets/lib/ldcover/main/index.min.css")
    +css("css/index.css")
    block head
  body
    block body
    +script("assets/lib/bootstrap.native/main/dist/bootstrap-native.min.js")
    +script("assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("assets/lib/ldcover/main/index.min.js")
    +script("assets/lib/ldview/main/index.min.js")
    +script("assets/lib/wrap-svg-text/dev/index.min.js")
    block script

